@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

@font-face {
    font-family: 'Neue Machina';
    src: url(../fonts/NeueMachina-Ultrabold.otf);
}

:root {
    --color-blue: #0066FF;
    --color-green: #10D37A;

    --primary-bg-color: #0E101E;
    --secondary-bg-color: #000732;

    --primary-font-family: 'Neue Machina';
    --secondary-font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-bg-color);
    font-family: var(--secondary-font-family);
    color: white;
}

main {
    width: min(1920px, 100%);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--primary-font-family);
    color: var(--color-blue);
}

h1 {
    font-size: 110px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

h2 {
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 120px;
}

section {
    margin-top: 200px;
}


.primary-btn {
    color: var(--primary-bg-color);
    background-color: var(--color-green);
    box-shadow: 0px 4px 60px 5px rgba(16, 211, 122, 0.40);
    font-size: 50px;
    text-decoration: none;
    font-weight: 600;
    padding: 48px 160px;
    border-radius: 80px;
    width: min(640px, 100%);
    text-align: center;
}

#headline img {
    width: auto;
    height: 760px;
    max-height: inherit;
}

#headline .title {
    text-transform: uppercase;
}

#headline .subtitle {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 600;
}

.headline__content {
    margin-block: 70px;
    font-weight: 600;
}

.headline__content__title {
    font-size: 70px;
}

.headline__content__date-info {
    font-size: 50px;
}

section#what-you-will-learn .row {
    gap: 100px;
}

.card {
    background-color: var(--secondary-bg-color);
    font-size: 26px;
    padding: 60px 90px 160px 60px;
    border-radius: 50px;
}


.for-who-list-container { 
    margin: 120px 0;
    display: flex;
    flex-direction: column;
    gap: 76px;

}

.for-who-list { 
    background-color: var(--secondary-bg-color);
    border-radius: 50px;
    padding-block: 92px;
    position: relative;
}

.for-who-list__index { 
    font-size: 260px;
    font-family: var(--primary-font-family);
    -webkit-text-stroke: 1px var(--color-blue);
    color: transparent;
    position: absolute;
    left: 100px;
    transform: translateY(-60%);
}

.for-who-list__text { 
    margin-left: 500px;
    font-size: 40px;
}

ul.vebinar-program { 
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 26px;
    list-style: none;
}

ul.vebinar-program li {
    display: flex;
    gap: 48px;
}

ul.vebinar-program li::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: var(--color-blue);
}


.speaker-panel { 
    background-color: var(--secondary-bg-color);
    border-radius: 50px;
    padding: 140px;
}

.speaker-panel h2 {
    margin-bottom: 100px;
}

.speaker-photo { 
    border-radius: 50px;
    background-color: #000B53;
    width: 400px;
    height: 100%;
    align-self: center;
}

#footer {
    text-align: center;
}
#footer h2 {
    font-size: 60px;
    color: white;
}